version: "3.8"

services:
  backend:
    build: .
    container_name: rbac_backend
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    command: >
      sh -c "
      npx prisma generate &&
      npx prisma migrate deploy &&
      npm run build &&
      npm start
      "

